name: CI

# Trigger the workflow on push or pull request
on: [ push, pull_request ]

jobs:

  # ------------------------------

  explore-windows:
    strategy:
      matrix:
        os: [ windows-2022, windows-2025 ]
        timeout_override: [ false ]
      fail-fast: false
    name: "Explore: ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    defaults:
      run:
#         shell: bash
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v4
      - uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          update: true
          install: >-
             make
             binutils
             autoconf
             flex
             bison
             mingw-w64-ucrt-x86_64-gcc
             mingw-w64-ucrt-x86_64-gperf
             mingw-w64-ucrt-x86_64-iverilog
             mingw-w64-ucrt-x86_64-pkg-config
             mingw-w64-ucrt-x86_64-tcl
#      - name: Set up Haskell
#        uses: haskell-actions/setup@v2
#        with:
#          ghc-version: '9.6.7'
#          cabal-version: '3.12'
        
      - name: Dump platform
        run: |
          export PATH=$PATH:/c/ghcup/bin:$(echo /c/tools/ghc-*/bin || echo)
          which bash || echo fail
          ls -l /bin/sh || echo fail
          #choco install pkgconfiglite
          echo "----- uname -s"
          uname -s
          echo "----- which bash"
          which bash || echo fail
          echo "----- which pkg-config"
          which pkg-config || echo fail
          echo "----- pkg-config list all"
          pkg-config --list-all || echo fail
          echo "----- which tclsh"
          which tclsh || echo fail
          echo "----- which ghc"
          which ghc || echo fail
          echo "----- ghc --version"
          ghc --version || echo fail
          echo "----- which ghcup"
          which ghcup || echo fail
          echo "----- OSTYPE"
          bash ./platform.sh ostype || echo fail
          echo "----- MACHTYPE"
          ./platform.sh machtype || echo fail
          echo "----- TCLSH"
          ./platform.sh tclsh || echo fail
          echo "----- TCLVERSION"
          ./platform.sh tclversion || echo fail
          echo "----- TCLINC"
          ./platform.sh tclinc || echo fail
          echo "----- TCLLIBS"
          ./platform.sh tcllibs || echo fail
          echo "----- CXX_SHARED_FLAGS"
          ./platform.sh c++_shared_flags || echo fail
          echo "----- Done"
      - name: Cabal dependencies
        run: |
          export PATH=$PATH:/c/ghcup/bin:$(echo /c/tools/ghc-*/bin || echo)
          cabal update
          cabal v1-install regex-compat syb old-time split
      - name: Checkout submodules
        shell: bash
        run: |
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git submodule sync --recursive
          git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1
          cd src/vendor/yices/v2.6/yices2/
          git apply ../mingw.patch
      - name: Build
        run: |
          export PATH=$PATH:/c/ghcup/bin:$(echo /c/tools/ghc-*/bin || echo)
          make STP_STUB=1 install-src
